@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Figtree";
    src: url("/fonts/Figtree-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 1000;
}

@layer base {
    body {
        @apply bg-midnightBlue;
        font-family: 'Figtree', Helvetica, system-ui;
    }
}